section{
    width: 100%;
    height: auto;
    background: rgba(0,0,0,0.5);    
    position: relative;
   video{
       width: 100%;
       height: auto;
      
   }

  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 116vh;
    background: rgba(0, 0, 0, 0.2);
}
.nad-video{
    width: 100%;
    height: 115vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 33;
    display: flex;
    justify-content: space-between;
 
    .left{
        width: 60%;
        height: 102vh;
        position: relative;
        top: 12%;
        left: 0;
        z-index: 33;
        display: flex;
        justify-content: center;
        align-items: center;
        .center{
            width: 70%;
            height: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
         
        }
        
    }

    .right{
        width: 35%;
        height: 75vh;
        position: relative;
        top: 17%;
        right: 4%;
        z-index: 33;
        background: rgba(6, 1, 36, 0.4);
        clip-path: polygon(50% 15%, 100% 6%, 50% 100%, 0 6%);
      box-shadow: inset 0 0 40px white;
      display: flex;
      align-items: center;
      justify-content: center;
      transform-style: preserve-3d;
a{
    display: block !important;
    margin-top: 10px;
}
    }

    .shadow{
        width: 38%;
        height: 80.5vh;
        position: absolute;
        top: 15%;
        right: 2.5%;
        z-index: 32;
        background: rgb(49,71,94);
        clip-path: polygon(50% 15%, 100% 6%, 50% 100%, 0 6%);
    }

    

    .shadow2{
        width: 41%;
        height: 85vh;
        position: absolute;
        top: 13%;
        right: 1%;
        z-index: 31;
        background: rgb(63,185,132);
        clip-path: polygon(50% 15%, 100% 6%, 50% 100%, 0 6%);
    }
}
 
}